/*All Elements*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 
body {
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}
/*header*/
#first-img {
    position: absolute;
    filter: brightness(50%);
    z-index: -1;
    width: 1440px;
    height: auto;
  }
.nav{
    z-index: 1;
    
}
.top-nav{
    padding-bottom: 200px;
    margin-bottom: 20px;
}
.tlink{
    color: #ffffff;
    font-weight: 700;
}
.nav > li > a:hover{
   color: #ffffff;
}

#logo{
    position: relative;
    top: 5px;
}
#btn-link{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.first-text{
    color: #fff;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px; 
}
.first-heading{
    font-weight: bold;
    padding-right: 700px;
    font-size: 4rem;
    line-height: 78px;
}
.first-paragraph{
    font-size: 22px;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 120px;
}
 /*Main*/
.second-text{
    text-align: justify;
    padding: 20% 10% 6% 0%;
    margin: 10% 0% 6% 0%;
}

.second-heading{
    font-size: 60px;
    font-weight: 400;
    padding-top: 30px;
}
.second-paragraph{
    font-size: 18px;
    padding-top: 20px;
    font-weight: 500;
}
.one,.two, .three{
    padding: 0px 80px 5px 80px;
    width: auto;
}
.figs{
    text-align: center;
     width: 100%;
     margin:0px 10px 30px 40px; 
 }
 figcaption{
     font-size: 24px;
     font-weight: 700;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .img-paragraph{
     font-size: 18px;
 }
 .third-division{
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 10%;
    padding-bottom: 20px;
}
/*all inputs*/
input[type=text],input[type=email],input[type=number]{
    border: none;
    border-bottom: 1px solid hsl(162, 17%, 51%);
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 1.025em; 
}
#Textarea {
    border: none;
    border-bottom: 1px solid hsl(162, 17%, 51%);
    background-color: #f8f8f8;
    resize: none;
    box-shadow: none;
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 1.025em; 
}
#mail1, #Name, #phone {
    box-shadow: none;
  }
  .first-form{
    padding: 0px 5% 0px 5%;    
}
  #first-btn{
    float: right;
    background-color: #155A45;
    color: #ffffff;
    width: 139px;
    height: 60px;
    font-weight: bold;
    font-size: 21px;
}
  /*map*/
#img-map{
      width: 1440px;
      height: 668px;
      margin-top: 160px;
      margin-bottom: 64px;
  }

.third-heading{
    float: left;
}
.third-paragraph{
    float: right;
    font-size: 18px;
}
.text-two {
    overflow: hidden;
    width: 100%;
    text-align: justify;
    padding: 5% 20% 5% 18%;
}
.second-form{
    text-align: center; 
    width: 100%;
    padding-bottom: 5%;  
}
#second-btn{
    background-color: #155A45;
    color: #ffffff;
    border: none;
    margin-top: 8px;
    margin-left: 35px;
    width: 160px;
    height: 60px;
    font-weight: bold;
}
/*Footer*/
.beneath {
    text-align: center;
    margin: 50px 0;
    line-height: 22px;
}
.beside {
    font-family: Basis Grotesque Pro;
    font-weight: normal;
    font-size: 2.025em;
    line-height: 56px;
}
.above {
    font-family: Basis Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 75px;
    text-align: center;
}
.footer{
    background-color: #155A45;
    height: 200px;
    font-size: 1.025em;
    position: relative;
}

.footer-nav{
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%; /*without this text wont be align center*/
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}
.link{
    color: #fff;
    font-weight: 900;
    text-shadow:1px 1px 2px #000;
}
