
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-style: normal;
    color: #000000;
}
/* Header */
.navbar-brand {
    margin-top: auto;
}
.header-container {
    width: 100%;
    color: #FFFFFF;
}
#top-img {
    position: absolute;
    filter: brightness(50%);
    z-index: -1;
  }
.link{
    color: #FFFFFF;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1rem;
    line-height: 34px;
    text-align: center;
    z-index: 1;
}
.book-link {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1rem;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    border-style: none;
    border: solid;
    background-color: transparent;
    border-width: thin;
    padding: 0 15px;
    margin-right: 0;
}
.first-heading{
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 4rem;
    line-height: 78px;
}
.first-paragraph{
    font-weight: normal;
    font-size: 1.25rem;
    margin: 0;
    color: #FFFFFF;
}
.cont{
    border: 1px solid #FFFFFF;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 34px;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
p {
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 1.025rem;
    line-height: 22px;
    margin: 28px 0;
}
.m {
    margin: 120px;
    width: 100%;
}
li {
    display: inline;
    list-style: none;
    margin: 25px;
}
a {
    color: white;
}

/* .logo {
    align-content: center;
} */

/* main */

h1 {
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: normal;
    font-size: 3em;
    margin-top: 120px;
}

dl {
    display: inline;
}

dt {
    clear: left;
    float: left;
    padding: 0 0 2px;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 41px;
}

dd {
    float: right;
    margin-top: 8px;
    padding: 0 0 2px;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1.025em;
    line-height: 29px;
}

.room-features {
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 15px;
    clear: both;
}

.m {
    margin: 120px 0;
    width: 100%;
}


#room-info {
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 1.025em;
    line-height: 22px;
    border-bottom: solid;
    border-width: thin;
    padding: 15px;
    margin-right: 30px;
    color: #155A45;
}

p {
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 1.025rem;
    line-height: 22px;
    margin: 28px 0;
}

/* footer */

footer {
    margin-top: 120px;
}

.beside {
    font-family: Basis Grotesque Pro;
    font-weight: normal;
    font-size: 2.025em;
    line-height: 56px;
    padding: 0 12%;
}

.beneath {
    text-align: center;
    margin: 50px 0;
    line-height: 22px;
}
input {
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 1.025em;
    line-height: 22px;
    color: #155A45;
    border-style: none;
    border-bottom: solid;
    border-width: thin;
    padding: 15px;
    text-align: center;
    margin-right: 15px;
}

.submit {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 1.025em;
    line-height: 22px;
    color: #FFFFFF;
    background: #155A45;
    border: 1px solid #155A45;
    box-sizing: border-box;
    padding: 10px 30px 10px 30px;
}

.above-footer {
    text-align: center;
    line-height: 75px;
    margin-bottom: 70px;
}
.above {
    font-family: Basis Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 75px;
    text-align: center;
    margin-left: 15%;
}

#above {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 2.025rem;
    color: #155A45;
    border-bottom: solid;
    border-width: thin;
    padding: 15px;

}

#footer {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 1.025em;
    color: #FFFFFF;
}

.footer-container {
    bottom: 0%;
    background: #155A45;
    height: 100px;
    text-align: center;
    padding: 40px;
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    .first-heading, .above {
    font-size: 2.8rem;
    }

    .first-paragraph, .dd {
        font-size: 1rem;
    }

    .cont, dt {
    font-size: 1.25rem;
    }
    
    h1 {
        font-size: 1.8em;
    }
    
    #room-info, p, input, .submit, #footer {
    font-size: 1em;
    }

    .beside, #above {
    font-size: 1.8em;
    }
}

@media only screen and (min-width: 600px) {
        
        .first-heading, .above {
        font-size: 2.86rem;
        }
    
        .first-paragraph, .dd {
            font-size: 1.2rem;
        }
    
        .cont, dt {
        font-size: 1.4rem;
        }
        
        h1 {
            font-size: 2.3em;
        }
    
        .beside, #above {
        font-size: 2em;
        }
}

@media only screen and (min-width: 760px) {
        
        .first-heading, .above {
        font-size: 3.2rem;
        }
    
        .first-paragraph, .dd {
            font-size: 1.2rem;
        }
    
        .cont, dt {
        font-size: 1.4rem;
        }
        
        h1 {
            font-size: 2.5em;
        }
        
        #room-info, p, input, .submit, #footer {
        font-size: 1em;
        }
    
        .beside, #above {
        font-size: 2em;
        }
}

@media only screen and (min-width: 992px) {
        
        .first-heading, .above {
        font-size: 3.5rem;
        }
    
        .first-paragraph, .dd {
            font-size: 1.2rem;
        }
    
        .cont, dt {
        font-size: 1.25rem;
        }
        
        h1 {
            font-size: 2.5em;
        }
        
        #room-info, p, input, .submit, #footer {
        font-size: 1em;
        }
    
        .beside, #above {
        font-size: 2em;
        }
}