*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}
/* Header */
.navbar-brand {
    margin-top: auto;
}
.header-container {
    width: 100%;
    color: #FFFFFF;
}
#top-img {
    position: absolute;
    filter: brightness(50%);
    z-index: -1;
  }
.link{
    color: #FFFFFF;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1rem;
    line-height: 34px;
    text-align: center;
    z-index: 1;
}
.book-link {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1rem;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    border-style: none;
    border: solid;
    background-color: transparent;
    border-width: thin;
    padding: 0 15px;
    margin-right: 0;
}
.first-heading{
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 4rem;
    line-height: 78px;
}
.first-paragraph{
    font-weight: normal;
    font-size: 1.25rem;
    margin: 0;
    color: #FFFFFF;
}
.cont{
    border: 1px solid #FFFFFF;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 34px;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
p {
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 1.025rem;
    line-height: 22px;
    margin: 28px 0;
}
.m {
    margin: 120px auto;
    width: 100%;
}
li {
    display: inline;
    list-style: none;
    margin: 25px;
}
a {
    color: white;
}

h1 {
    font-family: 'Basis Grotesque Pro', sans-serif;
    font-weight: normal;
    font-size: 3em;
    margin-top: 120px;
}

.second-text{
    text-align: justify;
    padding: 10% 20% 10% 0%;
}

.second-heading{
    font-size: 60px;
    font-weight: 400;
}
.second-paragraph{
    font-size: 18px;
    padding-top: 20px;
    font-weight: 500;
}

.images {
    display: inline-flex;
}

.one,.two, .three{
    padding: 5px 25px 5px 25px;
    width: 25%;
}
.figs{
    text-align: center;
     width: 100%;
     margin:5px 10px 30px 40px; 
 }
 figcaption{
     font-size: 24px;
     font-weight: 700;
     padding-top: 10px
 }
 .img-paragraph{
     font-size: 18px;
 }

 .b {
     width: 30%;
     margin-left: 20px;
 }

 .above-gallery {
    text-align: center;
    margin: 5%;
    padding: 0 20%;
 }

 #room-info {
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 1.025em;
    line-height: 22px;
    border-bottom: solid;
    border-width: thin;
    padding: 15px;
    color: #155A45;
}

#gallery {
    background-color: #155A45;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.gallery {
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    margin-top: 120px;
}

.beside {
    font-family: Basis Grotesque Pro;
    font-weight: normal;
    font-size: 2.025em;
    line-height: 56px;
    padding: 0 12%;
}

.beneath {
    text-align: center;
    margin: 50px 0;
    line-height: 22px;
}
input {
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 1.025em;
    line-height: 22px;
    color: #155A45;
    border-style: none;
    border-bottom: solid;
    border-width: thin;
    padding: 15px;
    text-align: center;
    margin-right: 15px;
}

.submit {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 1.025em;
    line-height: 22px;
    color: #FFFFFF;
    background: #155A45;
    border: 1px solid #155A45;
    box-sizing: border-box;
    padding: 10px 30px 10px 30px;
}

.above-footer {
    text-align: center;
    line-height: 75px;
    margin-bottom: 70px;
}
.above {
    font-family: Basis Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 75px;
    text-align: center;
    margin-left: 15%;
}

#above {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 2.025rem;
    color: #155A45;
    border-bottom: solid;
    border-width: thin;
    padding: 15px;

}

#footer {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 1.025em;
    color: #FFFFFF;
}

.footer-container {
    bottom: 0%;
    background: #155A45;
    height: 100px;
    text-align: center;
    padding: 40px;
    margin-top: 30px;
    width: 100%;
}